@import "src/assets/styles/templates";

header.appHeader {
  @extend %primaryFont;
  @extend %regular;

  font-size: 24px;
  width: 100%;
  color: white;
  background: linear-gradient(
                  180deg,
                  #0D0D0D 76.04%,
                  rgba(13, 13, 13, 0.19) 100%
  );
  position: relative;
  z-index: 2;

  @media (max-width: 1512px) {
    background: black;
  }

  @media (max-width: 598px) {
    font-size: 20px;
  }

  .headerContainer {
    @extend %flexCenter;

    justify-content: space-between;
    padding: .83em 0;
    z-index: inherit;
    position: relative;

    img.logo {
      height: 2.625em;

      @media (max-width: 968px) {
        height: 1.75em;
      }

      @media (max-width: 727px) {
        height: 1.25em;
      }

      @media (max-width: 598px) {
        height: 1.5em;
      }
    }
  }
}

.banner {
  font-size: 24px;
  margin-top: calc(-1 * var(--global-padding));
  width: 100%;
  aspect-ratio: 1920 / 1270;
  background-size: 100%;
  z-index: -1;

  .bannerContainer {
    @extend %secondaryFont;

    height: 100%;
    color: white;

    .textBlock {
      @extend %flexCenter;

      grid-column: span 7;
      align-items: start;
      flex-direction: column;

      h2 {
        @extend %semiBold;
        font-size: 2.66em;
        line-height: 1.21875em;
      }

      .underHeader {
        @extend %primaryFont;

        font-size: 1em;
        line-height: 1.21em;
        margin: 1.25em 0 3.83em 0;
      }

      .seeMore {
        @extend %notSelectable;

        font-size: 1.33em;
        padding: 0.65625em 2.03125em;
        background: black;
        border-radius: 0.46875em;
        cursor: pointer;
      }
    }

    .pegasBlock {
      @extend %flexCenter;
      grid-column: span 5;

      .circle {
        width: 100%;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 1.08em solid white;
        position: relative;

        .pegasPlaceholder {
          @extend %flexCenter;

          &:has(> img) {
            aspect-ratio: 1054.74 / 745;
            top: calc(0% - 1.08em);
            left: calc(-12.6% - 1.08em);
          }

          filter:
                  drop-shadow(0px 0px 511.812px #FFFFFF)
                  drop-shadow(0px 0px 292.464px #FFFFFF)
                  drop-shadow(0px 0px 170.604px #FFFFFF)
                  drop-shadow(0px 0px 85.302px #FFFFFF)
                  drop-shadow(0px 0px 24.372px #FFFFFF)
                  drop-shadow(0px 0px 12.186px #FFFFFF);

          justify-content: start;
          align-items: start;
          position: absolute;
          top: calc(0% - 1.08em);
          left: calc(0% - 1.08em);
          width: 175%;
          aspect-ratio: 1;
        }
      }
    }
  }
}