@import "src/assets/styles/nullstyles";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  background: linear-gradient(107.56deg, #03304F 0%, #5FA6DA 100%);
  background-size: 100% 100%;
  min-height: 100vh;
}